{% extends 'Home/base.html' %}

{% load static %}

{% block content %}
<header class="header-main">
        <img src="{% static 'Home/image/main_logo.png' %}" alt="логотип" class="header-main__logo">
        <div class="main-title">
            <span class="main-title__one">Интерактивный портал</span><br>
            <span class="main-title__two">Центра Занятости населения</span><br>
            <span class="main-title__three">Республики Саха (Якутия)</span>
        </div>
    </header>
{% endblock %}

